.container
{
    background-color: rgb(103, 75, 176);
    background-image: url("../image/bg-desktop.svg");
    padding:45px 50px;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: white;
}
h1
{
    line-height: 4rem;
}
.header img
{
    width: 150px;
}
.body
{
    display: flex;
}

.content
{
    padding:40px;
}
.content-btn
{
    width: 150px;
    padding:10px 20px;
    border-radius: 20px;
    color: rgb(103, 75, 176);
    border: unset;
    font-weight: bold;
}
.group-icon
{
    font-size: 3rem;
    display: flex;
    justify-content: end;
}
.icon
{
    padding:0 10px;
}
.group-icon a
{
    color: inherit;
}
.group-icon a:hover
{
    opacity: 0.8;
}
@media (max-width:739px)
{
    .container
    {
        padding:30px;
        background-image: url("../image/bg-mobile.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }
    .body
    {
        flex-direction: column;
    }
    .illustration img
    {
        width: 100%;
        margin: 35px 0;
    }
    .content
    {
        padding: 0;
        text-align: center;
    }
    .content-btn
    {
        margin: 10px 0;
    }
    .group-icon
    {
        justify-content: center;
        margin: 60px 0 20px;
    }
}